.DS_Store
*.class
*.ctxt
.gradle

src/com/architects/uno/.idea/google-java-format.xml
src/com/architects/uno/.idea/gradle.xml
src/com/architects/uno/.idea/misc.xml
src/com/architects/uno/.idea/runConfigurations.xml
src/com/architects/uno/.idea/vcs.xml
src/com/architects/uno/doc/allclasses.html
src/com/architects/uno/doc/constant-values.html
src/com/architects/uno/doc/Constants.html
src/com/architects/uno/doc/element-list
src/com/architects/uno/doc/index.html
src/com/architects/uno/doc/logfile.txt
src/com/architects/uno/doc/package-summary.html
src/com/architects/uno/doc/script.js
src/com/architects/uno/doc/stylesheet.css
Uno/.idea/google-java-format.xml
Uno/.idea/runConfigurations.xml
Uno/.idea/vcs.xml
Uno/.idea/workspace.xml
src/com/architects/uno/doc/SoundHandler.html
